*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --background-500:#121212;
  --background-300:#212121;
  --gray-200: #e0e0e0;
}

body{
    color:var(--gray-200);
    background:var( --background-500);
    height: 100vh;
}

main {
    margin: 2rem;
    min-height: 80%;
    background:var( --background-300);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card_profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding: 1rem 0 0 0;
}
.card_profile img {
    height: 20rem;
    width: 20rem;
    border-radius: 16px;
    border: 2px solid var(--background-500);
    outline: 2px solid  var(--gray-200);
}
.card_profile p {
    font-size:2.5rem;
}

.card_profile strong{
 font-size:1.8rem;
}

.card_profile span {
    font-size:4.5rem;
    margin-top: 4rem;
    font-weight: bold;
}


